@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?rcsubp');
    src:    url('fonts/icomoon.eot?rcsubp#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?rcsubp') format('truetype'),
        url('fonts/icomoon.woff?rcsubp') format('woff'),
        url('fonts/icomoon.svg?rcsubp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.div-scroll {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  height: 500px;
}

/* .pcc_home {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.pcc_home.active {
  opacity: 1;
} */
.pcc_home {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateX(-100%);
}

.pcc_home.active {
  opacity: 1;
  transform: translateX(0);
}


.dot-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}
.pcc_title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #000;
	max-width: 800px;
  }

  .pcc_title p {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 20px;
  }


  .pcc_title span {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
  }

  .pcc_title h1 {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  .modal-content  {
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    border-radius: 1rem !important; 
  }
  .modal-header  {
    background-color: #df9100f6; 
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    border-radius: 1rem !important; 
  }