@media print {
    #backButton {
        display: none !important; 
    }
    #select {
        display: none !important; 
    }
    #selectsem {
        display: none !important; 
    }
    #filterlabel {
        display: none !important; 
    }
    .table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
    }
    
    ::-webkit-scrollbar {
        display: none;
    }
    
}
