@media print {
    #backButton {
        display: none !important; /* Hide the button when printing */
    }
    .table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        page-break-inside: avoid; /* Prevent table from being split across pages */
    }
    .table:last-of-type {
        page-break-after: always; /* Force a page break after the last table on the page */
    }
    /* Hide scroll bars */
    ::-webkit-scrollbar {
        display: none;
    }
}
