.pcc_title h1{
	color: #fff;
}
.pcc_title span{
	color: #fff;
}
.pcc_title p{
	color: #fff;
}
  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
	height: 200px;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  @media only screen and (max-width: 620px) {
	/* For mobile phones: */
	.menu, .main, .right{
	  width: 100%;
	}
  }
 
  
	#header_2 .login_wrap, #header_2 .top_nav, #header_2 .lng_wrap{
		float: right;
	}
	.top_bar_2{
		float: left;
		width: 100%;
		line-height: 6px;
		background-color:  rgba(0, 147, 221, 0.767);
	}
	.contct_2{
		color: #fff;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		display: block;
		padding:15px 0; 
	}
	.contct_2 i{
		margin-right: 5px;
	}
	.login_wrap{
		float: right;
	}
	.login_wrap li{
		display:inline-block;
	}
	.login_wrap li a{
		color: #fff;
		font-size: 16px;
		text-transform: capitalize;
		display: block;
		padding:15px 15px 10px; 
	}
	.login_wrap li i{
		float: left;
		margin: -5px 8px 0px 10px;

	}
	.top_nav li a:hover,
	.login_wrap li a:hover{
		text-decoration: underline;
	}
	.top_nav{
		/* float: left; */
		display: inline-block;
	}
	.top_nav li{
		display: inline-block;
	}
	.top_nav li a{
		color: #6d6c6c;
		color: #ffffff;
		font-size: 14px;
		text-transform: capitalize;
		display: block;
		padding:16px 12px 5px; 
		position: relative;
		z-index: 2;
		position: relative;
	}
	
	
	/*
	=================================================
					UP FROM 1200PX
	=================================================
	*/ 
	@media (min-width: 1200px) {
	 
	}
	/*
	=================================================
				FROM 992PX TO 1199PX
	=================================================
	*/ 
	@media (min-width: 992px) and (max-width: 1199px) {
		.nav_2 ul li a{
			padding:10px; 
		}
		.top_nav li a, .login_wrap li a{
			padding: 8px 6px; 
		}
		h3{
			font-size: 24px;
		}
		h5{
			font-size: 18px;
		}
	}
	/*
	=================================================
				FROM 0PX TO 979PX
	=================================================
	*/ 
	@media (max-width: 991px) {
		#mobile-header{
			display:none;
		}
		#header_2 .top_bar_2 .container .row div:first-child{
			display: none;
		}
		#header_2 .top_bar_2 .container .row > div{
			width: 100%;
			float: left;
		}
		#header_2 .top_nav{
			float: left;
	
		}
		.logo_wrap{
			text-align: center;
		}
		footer .widget{
			margin-bottom: 30px;
			border-bottom: solid 1px rgba(0,0,0)
		}
		#header_2 .top_bar_2 .container .row div.lng_wrap, #header_2 .top_bar_2 .container .row div.lng_wrap > div{
			display: block;
		}
		.logo_wrap > a {
			float: left;
		}
	}
	/*
	=================================================
				FROM 768PX TO 979PX
	=================================================
	*/
	
	@media (min-width: 768px) and (max-width: 979px) {
		
	  
	}
	/*
	=================================================
				FROM 0PX TO 767PX
	=================================================
	*/
	@media (max-width: 767px) {
		#kode-header{
			position:relative;
		}
	
		.top_nav{
			display: none;
		}
		.top_bar_2 .col-md-5 {
			display:block;
		}
		#header_2 .login_wrap{
			float:left;
		}
		.lng_wrap .dropdown-menu{
			min-width:124px;
		}
	
	}
	/*
	=================================================
				FROM 0PX TO 0PX
	=================================================
	*/
	@media (max-width: 480px) {
		.lng_wrap button{
			padding: 10px 
		}
		.logo_wrap img{
			width: 140px;
		}
		
		body{
			line-height: 24px;
		}
		
	}
	
	